<% include ../partials/header.ejs %>

<h1> Daily Planet News </h1>

<div id = "addBox">
<a href = "/articles/new"> Post An Article </a>
</div>

<br>

<% myArticles.forEach(function(article, id){ %>

<div class = "articleBox">
        <a href = "/articles/<%= id %>/edit"> Edit </a>

        <h3> <%= article.title %> </h3>
        <p> <%= article.body %> </p>

<form method = "POST" action = "/articles/ <%= id %>/?_method=DELETE">
    <input type = "submit" value = "DELETE"> 
</form>

</div>

<% }); %>

<% include ../partials/footer.ejs %>