<% include ../partials/header.ejs %>

<h1> Daily Planet News </h1>
<h2> Whats Happening On Your Planet </h2>

<div id = catBox> 

    <p> World -
        U.S. - 
        Politics - 
        N.Y. - 
        Business - 
        Opinion -
        Tech -
        Science -
        Health -
        Sports -
        Arts -
        Books -
        Style -
        Food -
        Travel -
        Magazine -
        T Magazine -
        Real Estate
    </p>


</div>

<div id = "articleAddBox">
<a href = "/articles/new"> Post An Article </a>
</div>

<br>

<% myArticles.forEach(function(article, id){ %>

<div class = "articleBox">
        <a href = "/articles/<%= id %>/edit"> Edit </a>

        <h3> <%= article.title %> </h3>
        <p> <%= article.body %> </p>

<form method = "POST" action = "/articles/ <%= id %>/?_method=DELETE">
    <input type = "submit" value = "DELETE"> 
</form>

</div>

<% }); %>

<% include ../partials/footer.ejs %>