html, body{
    padding: 0; 
    margin: 0; 
    text-align: center;
    background-color: #161925; 
    color: white;
}

a{
    color: white;
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


body{
    background-color:white; 
    font-family: 'Montserrat', sans-serif;
    background-color: #161925; 

}

.articleBox{
    background-color: #C1292E; 
    margin: .5em; 
    color: white;
}
