html, body{
    padding: 0; 
    margin: 0; 
    text-align: center;
    background-color:#F8F8FF; 
    color: white;
}

a{
    color:black;
}

h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    color: black;
}
h2{
    color: black;
    font-size: 17px;
}

body{
    background-color:	#F8F8FF; 
    font-family: 'Cinzel', serif;
    color: black;
}

.articleBox{
    background-color: #F7F3E3; 
    margin: .5em; 
    color: black;
}


.catBox{
    border: 1px solid white;
}